/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Red Hat Display";
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  background-color: #fafafa;
}
body header .logo {
  width: 119px;
  margin: 50px auto;
}
body main .hero {
  background-image: url(../starter-code/assets/tablet/image-hero.png);
  background-repeat: no-repeat;
  background-size: 414px;
  background-position: center;
  height: 153px;
}
body main h1 {
  font-size: 40px;
  color: #28283d;
}
body main p {
  margin: 13px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #87879d;
  font-weight: 400;
}
body main .top-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 193px;
  margin: 0 auto;
}
body main .top-btn span {
  color: #8fe3f9;
}
body main .btn-bg-download {
  background-color: #4d96a9;
}
body main .btn-bg-download:hover {
  background-color: rgba(77, 150, 169, 0.7);
}
body main .btn-bg-info {
  background-color: #855fb1;
  width: 139px;
  margin: auto;
}
body main .btn-bg-info:hover {
  background-color: rgba(133, 95, 177, 0.7);
}
body main .vertical-line {
  border-left: 1px solid #87879d;
  height: 84px;
  margin-top: 60px;
  margin-left: 50%;
  opacity: 0.3;
}
body main .number {
  border: 1px solid rgba(135, 135, 157, 0.3);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  margin-top: -60px;
  background-color: #fafafa;
}
body main .models {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 25px;
  width: 340px;
  margin-top: 50px;
  margin-bottom: 50px;
}
body main .tag {
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #4d96a9;
}
body main h2 {
  color: #28283d;
  font-size: 35px;
  font-weight: 700;
}
body main .model-images {
  border-radius: 10px;
}
body .btn {
  padding: 1.1rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  color: #fafafa;
}
body .vertical-line {
  border-left: 1px solid #87879d;
  height: 84px;
  margin-bottom: 60px;
  margin-left: 50%;
  opacity: 0.3;
}
body .footer-background {
  color: #fafafa;
  background-image: url(../starter-code/assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: 440px;
  margin-top: -40px;
}
body .footer-background h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: -20px;
}
body .footer-background p {
  padding: 28px;
  font-weight: 400;
}
body .footer-background .number {
  color: #87879d;
  border: 1px solid rgba(135, 135, 157, 0.3);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
  transform: translateY(-20px);
}
body .footer-background .footer-overlay {
  background-color: rgba(77, 150, 168, 0.8);
  height: 445px;
}
body .footer-background .btn-bg-footer {
  background-color: #855fb1;
}
body .footer-background .btn-bg-footer span {
  color: #d9b8ff;
  width: 193px;
}
body .footer-background .btn-bg-footer:hover {
  background-color: rgba(133, 95, 177, 0.7);
}

@media (min-width: 440px) {
  body .footer-background {
    background-image: url(../starter-code/assets/tablet/image-footer.jpg);
    background-size: 795px;
  }
}
@media (min-width: 768px) {
  body main .hero {
    background-size: 820px;
    height: 303px;
  }
  body main .first-section {
    width: 480px;
    margin: 0 auto;
  }
  body main .first-section h1 {
    font-size: 60px;
  }
  body main .top-btn {
    flex-direction: row;
    justify-content: center;
    width: 368px;
    gap: 20px;
  }
  body main .btn-bg-download {
    width: 193px;
  }
  body main .models {
    width: 689px;
    grid-template-columns: repeat(4, 1fr);
  }
  body main .information {
    width: 573px;
    margin: 0 auto;
  }
  body main .information .tag {
    width: 290px;
    height: 50px;
    margin: 0 auto;
  }
  body main .information h2 {
    width: 440px;
    font-size: 44px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  body main .information p {
    width: 573px;
    height: 78px;
    margin: 0px;
  }
  body .footer-background {
    background-image: url(../starter-code/assets/tablet/image-footer.jpg);
    background-size: 795px;
  }
  body .footer-background h2 {
    font-size: 44px;
    width: 457px;
    margin: 0 auto;
  }
  body .footer-background p {
    width: 573px;
    margin: 0 auto;
  }
  body .footer-background .btn-bg-footer {
    margin-top: 20px;
    width: 193px;
  }
}
@media (min-width: 798px) {
  body .footer-background {
    background-image: url(../starter-code/assets/desktop/image-footer.jpg);
    background-size: 1440px;
  }
  body .footer-background .footer-row-bottom {
    display: flex;
    flex-direction: row;
  }
  body .footer-background .footer-overlay {
    height: 308px;
  }
}
@media (min-width: 1250px) {
  body {
    width: 1442px;
  }
  body main .hero {
    background-image: url(../starter-code/assets/desktop/image-hero-left.png), url(../starter-code/assets/desktop/image-hero-right.png);
    background-size: 414px;
    height: 415px;
    background-position: left, right;
  }
  body main .first-section,
  body main .top-btn {
    transform: translateY(-400px);
  }
  body main .vertical-line:not(.bottom-line),
  body main .number,
  body main .models,
  body main .information {
    transform: translateY(-300px);
  }
  body main .models {
    width: 1095px;
  }
  body .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body .footer-row h2,
  body .footer-row p {
    margin-right: 100px;
    width: 350px;
  }
  body .btn-bg-footer {
    height: 58px;
  }
}/*# sourceMappingURL=styles.css.map */